*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e07827;
    color: white;
    text-align: center;
    padding: 10px 0;
   

}
#logo{
   padding-top: 9%;
   padding-left: 4%;
}
a{
    color: #e07827;
    text-decoration: none;
    margin: 7%;
    
}
a:active{
    color: black;
}
h1{
    color: #e07827;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ph{
    border: 5px solid orangered;
    background-color: #dc9863;
    color: rgb(7, 7, 98);
    font-size: 200%;
}
@media screen and (max-width: 740px){
    *{
        font-size: small;
    }
    
}